#hamburger-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.menu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin-right: 10px;
}

.menu li {
    display: flex;
    align-items: center;
}

.menu li:hover {
    background-color: #D9D9D9;
}

.menu a {
    display: block;
    padding: 1rem;
    text-decoration: none;
}

.menu.active {
    display: flex;
}

