header {
    background-color: #f7f7f7;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#logo img {
    width: auto;
    height: 50px;
    max-width: 100%;
}

#hamburger-menu {
    position: relative; /* Behövs för att positionera menyn senare */
}

#menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Dold meny som visas när hamburger-menyn klickas */
.menu {
    display: none; /* Göm menyn som standard */
    position: absolute;
    top: 40px; /* Placera menyn under knappen */
    right: 0;
    background-color: #ffffff; /* Vit bakgrund för menyn */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 200px; /* Bredd på menyn */
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 10px 15px;
    text-align: left;
}

.menu li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.menu li:hover {
    background-color: #f0f0f0; /* Ljus bakgrund vid hovring */
}


.movies-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 2;
}

.search-container select,
.search-container input {
    padding: 5px 10px;
    font-size: 14px;
}

select:focus, 
input:focus {
    outline: none;
    border: 2px solid #6bcaba;
    border-radius: 4px; 
}

.search-container button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #6bcaba;
    border-radius: 5px;
    font-size: larger;
    color: white;
}

#favourites-button {
    flex: 1;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    background-color: #6bcaba;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

.movie-card {
    display: inline-block;
    max-width: 220px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 360px;
    overflow: hidden;
    box-sizing: border-box;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.add-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 85, 114, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: rgba(241, 69, 98, 0.7);
}

.remove-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(107, 202, 186, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: rgba(241, 69, 98, 0.7);
}

.movie-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 768px) {

    #logo img {
        height: 40px;
    }

    .menu {
        width: 100%;
        right: auto;
        left: 0;
    }

    .movie-card {
        max-width: 45%;
    }

    .movies-header {
        flex-direction: column; 
        align-items: stretch; 
    }

    .search-container {
        flex: none; 
        width: 100%; 
        display: flex;
        justify-content: center;
    }

    #favourites-button {
        width: auto
    }
}

@media (max-width: 480px) {
    .movie-card {
        max-width: 100%;
    }

    .add-button {
        width: 25px;
        height: 25px;
        font-size: 14px;
    }
}